*{
    margin: 0;
    padding: 0; 
}

.main{
    width:100%;
    background-color: black;  
    background-position: center; 
    background-size: cover;
    background-repeat: fixed ; 
}

    /* the nav part */
    .navbar{
        display: flex;
        height: 8vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: black;
    
    }
    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20vw;
        height: 100%;
    
    }
    
    .logo{
        color: #fbff00;
        font-size: 4vh;
        font-family:Arial;
        padding-left:20px;
        float:left;
    }
    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40vw;
        height: 100%;
    }
    ul{
        
        display:flex;
        justify-content:center;
        align-items:center;
    
    }
    ul li{
        list-style:none;
        margin: 2vh;
        z-index: 1;
    }
     ul li a{
        font-size: 1vw;
        text-decoration:none;
        color:#fff ;
        font-family:Arial;
        font-weight:bold;
        transition:0.4s ease-in-out;
        z-index: 1;
    }
    ul li::after{
    content: '';
    width:0%;
    height:2px;
    background: #fbff00;
    display:block;
    margin: auto;
    transition: 0.5s;
    }
    ul li:hover::after{
    width:100%;
    }
    ul li a:hover{
        color: #fbff00;
    }
    .pages
    {
        display:none;
    }
    ul li:hover .pages
    {
    display:block;
    position: absolute;
    }
    ul li:hover .pages ul
    {
        display:block;
        margin:5px;
    }
    ul li:hover .pages ul li
    {
    width:50px;
    padding:0px;
    border-bottom:1px dotted #fff;
    background:transparent;
    border-radius:0;
    text-align:left;
    }
    ul li:hover .pages ul li:last-child
    {
    border-bottom:none;
    }
    ul li:hover .pages ul li a:hover
    {
    color:#fbff00;
    }
    
    .search{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height: 100%;
        z-index: 1;
    }
    .srch{
        font-family: 'Times New Roman';
        width: 20vw;
        height: 5vh;
        background: transparent;
        border:1px solid #fbff00;
        color: rgb(255, 255, 255);
        border-right:none;
        font-size:20px;
        border-bottom-left-radius: 1vw;
        border-top-left-radius: 1vw;
        z-index: 1;
    }
    .btn{
        width: 6vw;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fbff00 !important;
        border:2px solid #fbff00 !important;
        color : rgb(0, 0, 0);
        font-size: 1vw;;
        border-radius: 1vw;
    }
    .btn:focus{
        outline:none;
    }
    .srch:focus{
        outline: none;
    }
    
    
    /* end of nav */
    .left-photos{
        position: relative;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: auto;
        margin: 0 1% 0 1%;
    }
    .middle-article {
        text-align: justify;
        letter-spacing: 2px;
        margin: 0 1% 0 1%;
        display: inline-block;
        width: 50%;
        height: auto;
    }
    .middle-article p {
    
        color:yellow;
    }
    .right-photos{
        position: relative;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: auto;
        margin: 0 1% 0 1%;
    }
    .container{
        display: flex;
        margin-top: 40px;
    }
    .img1 {
        -webkit-box-shadow: 0 15px 25px rgba(0,0,0,0.5);
        -moz-box-shadow: 0 15px 25px rgba(0,0,0,0.5);
        -o-box-shadow: 0 15px 25px rgba(0,0,0,0.5);
        box-shadow: 0px 15px 25px rgba(0,0,0,0.5);
        margin-bottom: 15px;
        position: relative;
        width: 100%;
        transition: ease-in-out;
        transition-duration: .5s;
    }
    .img1:hover {
        Cursor:pointer;
        Transform:translateY(-15px);
        }
P {
    font-size: 25px;
    margin: 10px;
    position: relative;
    color: white;
    }
body{
    background-color: #1a1a1a;
    font-family: 'Nanum Gothic', sans-serif;
}
.famous_people {
    position: relative;
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
    Cursor:pointer;
    Transform:translateY(-15px);
    transition: ease-in-out;
    transition-duration: .5s;
    -webkit-box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    -o-box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    box-shadow: 0px 15px 25px rgba(0,0,0,0.5);
    border-radius: 100%;
}
.container2 {
    margin-top: 20px;
    display: flex;
    width: 100%;
    border: #000000;
    justify-content: space-evenly;
}
.head {
    color: orange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline; 
}
.container2 h3 {
    color: #fbff00;
    display: block;
    position: relative;
}
.dark-mode{
    background-image: url("../media/105181499-jozefã³w-polonia-29-maggio-2017-dipinti-ad-olio-in-uno-studio-di-pittura.webp");
    background-attachment: fixed;
   }
.famous_people:hover {
    Cursor:pointer;
    Transform:translateY(15px);
    }
.title_famous {
    display: flex;
    color: #fbff00;
    justify-content: space-evenly;
}
.head_article {
    color: orange;
    font-size: 55px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
hr {
    border-color: #fbff00;
    box-shadow: 0 2px 4px 5px rgba(194, 132, 0, 0.356), 0 3px 10px 3px rgba(255, 187, 2, 0.466);
    border-width: 50%;
}