*{
    margin: 0;
    padding: 0; 
}

.main{
    width:100%;
    background-color: black;  
    background-position: center; 
    background-size: cover;
    background-repeat: fixed ; 
}

    /* the nav part */
    .navbar{
        display: flex;
        height: 8vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: black;
    
    }
    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20vw;
        height: 100%;
    
    }
    
    .logo{
        color: #fbff00;
        font-size: 4vh;
        font-family:Arial;
        padding-left:20px;
        float:left;
    }
    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40vw;
        height: 100%;
    }
    ul{
        
        display:flex;
        justify-content:center;
        align-items:center;
    
    }
    ul li{
        list-style:none;
        margin: 2vh;
        z-index: 1;
    }
     ul li a{
        font-size: 1vw;
        text-decoration:none;
        color:#fff ;
        font-family:Arial;
        font-weight:bold;
        transition:0.4s ease-in-out;
        z-index: 1;
    }
    ul li::after{
    content: '';
    width:0%;
    height:2px;
    background: #fbff00;
    display:block;
    margin: auto;
    transition: 0.5s;
    }
    ul li:hover::after{
    width:100%;
    }
    ul li a:hover{
        color: #fbff00;
    }
    .pages
    {
        display:none;
    }
    ul li:hover .pages
    {
    display:block;
    position: absolute;
    }
    ul li:hover .pages ul
    {
        display:block;
        margin:5px;
    }
    ul li:hover .pages ul li
    {
    width:50px;
    padding:0px;
    border-bottom:1px dotted #fff;
    background:transparent;
    border-radius:0;
    text-align:left;
    }
    ul li:hover .pages ul li:last-child
    {
    border-bottom:none;
    }
    ul li:hover .pages ul li a:hover
    {
    color:#fbff00;
    }
    
    .search{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height: 100%;
        z-index: 1;
    }
    .srch{
        font-family: 'Times New Roman';
        width: 20vw;
        height: 5vh;
        background: transparent;
        border:1px solid #fbff00;
        color: rgb(255, 255, 255);
        border-right:none;
        font-size:20px;
        border-bottom-left-radius: 1vw;
        border-top-left-radius: 1vw;
        z-index: 1;
    }
    .btn{
        width: 6vw;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fbff00 !important;
        border:2px solid #fbff00 !important;
        color : rgb(0, 0, 0);
        font-size: 1vw;;
        border-radius: 1vw;
    }
    .btn:focus{
        outline:none;
    }
    .srch:focus{
        outline: none;
    }
    
    
    /* end of nav */
body{
    background-color: #1a1a1a;
    font-family: 'Nanum Gothic', sans-serif;
}
h1 {
    color: orange;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 5%;
}
.article {
    letter-spacing: 2px;
    margin: 0 1% 2% 1%;
    display: inline-block;
    width: 50%;
    height: auto;
    color: #fbff00;
    font-size: 20px;
    margin-left: 5%;
    font-family: 'Cairo', sans-serif;
}
.container3 {
    display: flex;
}
.right_image1 {
    border-radius: 20px;
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
    -webkit-box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    -o-box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    box-shadow: 0px 15px 25px rgba(0,0,0,0.5);
}
.right_image:hover {
    Cursor:pointer;
    Transform:translateY(-15px);
}
.right_image {
    border-radius: 20px;
     transition: ease-in-out;
    transition-duration: .5s;
    width: 23%;
    margin: 2% 12% 0 12%;
}
table {
    margin-left: 5%;
    position: relative;
    left: 15%;
    border-spacing: 5px;
    margin: 1px;
    padding: 1px;
}
table td {
    border-radius: 5px;
    width: 31%;
    background-color: #000000;
    border: solid 2px yellow;
    color: #fbff00;
    padding: 1px;
    font-size: 20px;
    text-align: center;
}
table thead td {
    text-align: center;
    color: orange;
}
.table1 {
    margin-left: auto;
    display: inline;
}
.image5 {
    margin-left: 5%;
    width: 50%;
}
.dark-mode{
    background-image: url("../media/Amazing-must-visit-Montreal-art-galleries.jpg");
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
   }
   iframe {
       margin: 2%;
       width: 41%;
       border-radius: 20px;
       transition: ease-in-out;
       transition-duration: .5s;
   }
   iframe:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 4px 5px rgb(0, 0, 0), 0 3px 10px 3px rgb(0, 0, 0);
}
   .right_video {
        margin-left: auto;
        position: relative;
   }
   hr {
       border-color: #fbff00;
       box-shadow: 0 2px 4px 5px rgba(194, 132, 0, 0.356), 0 3px 10px 3px rgba(255, 187, 2, 0.466);
       border-width: 50%;
   }
   .video1 {
       display: flex;
       justify-content: space-evenly;
   }