*{
    margin: 0;
    padding: 0;
    }
    .main{
        width:100%;
        background-image: linear-gradient(to top,rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        background-position: center; 
        background-size: cover;
        height: 180vh;
    }
    .navbar{
        width:1200px;
        height:75px;
        margin:auto;
    }
    .icon{
        width:200px;
        float:left;
        height:70px;
    }
    .logo{
        color: purple;
        font-size:35px;
        font-family:Arial;
        padding-left:20px;
        float:left;
        padding-top:10px;
    }
    .menu{
    width: 400px;
    float:left;
    height:70px;
    }
    ul{
        float:left;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    ul li{
        list-style:none;
        margin-left:62px;
        margin-top:27px;
        font-size: 14px;
    }
    ul li a{
        text-decoration:none;
        color: #fff;
        font-family:Arial;
        font-weight:bold;
        transition:0.4s ease-in-out;
    }
    ul li::after{
content: '';
width:0%;
height:2px;
background: pink;
display:block;
margin: auto;
transition: 0.5s;
    }
    ul li:hover::after{
width:100%;
    }
    ul li a:hover{
        color: plum;
    }
    .pages
    {
        display:none;
    }
ul li:hover .pages
    {
    display:block;
    position: absolute;
    margin-top:2px;
    margin-left:-62px;
    }
    ul li:hover .pages ul
    {
        display:block;
        margin:10px;
    }
    ul li:hover .pages ul li
{
    width:50px;
    padding:10px;
    border-bottom:1px dotted #fff;
    background:transparent;
    border-radius:0;
    text-align:left;
}
ul li:hover .pages ul li:last-child
{
    border-bottom:none;
}
ul li:hover .pages ul li a:hover
{
    color:purple;
}

    .search{
        width:330px;
        float:left;
        margin-left:270px;
    }
    .srch{
        font-family: 'Times New Roman';
        width: 200px;
        height: 40px;
        background: transparent;
        border:1px solid purple;
        margin-top:13px;
        color: rgb(255, 255, 255);
        border-right:none;
        font-size:20px;
        float:left;
        padding:10px;
        border-bottom-left-radius: 15px;
        border-top-left-radius:15px;
    }
    .btn{
        width:100px;
        height: 40px;
        background: palevioletred;
        border:2px solid rgb(18, 107, 119);
        margin-top:13px;
        color : rgb(0, 0, 0);
        font-size:15px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .btn:focus{
        outline:none;
    }
    .srch:focus{
        outline: none;
    }
    button{
        color:#fbfcfd;
        padding: 10px 25px;
        background: transparent;
        border: 1px solid #fff;
        border-radius: 20px;
        outline: none;
        cursor:pointer;
        transition: 0.7;
    }
button:hover{
    background-color: plum;
    transform: scale(1.1);
}
.bv{
    color: pink;
    font-size: larger;
    font-style: italic;
    border: 10px;
    border-style: ridge;
    border-color: rgb(150, 29, 110);
    margin: 10px;
    padding: 5px;
    
}
.rest{
    color: pink;
    font-weight: 100;
    font-size: 40px;
    border: 5px;
    border-color: pink purple;
    border-style:double;
    background-color: black;
    text-align: center;
    padding: 8px;

}
.qq{
    border: 4px;
    border-color: plum;
    border-style: dashed;
    background-color:black;
    outline:3px;
    outline-style: dotted;
    outline-color: purple;
    color: rgb(179, 22, 74);
}
#uu{
margin-top: 10px;
background-color:rgb(0, 0, 0);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color:blue;
border: 10px;
border-color: rgb(233, 35, 233);
border-radius: 4px;
border-style:solid;
}
#uu :hover{
    margin-top: 10px;
    background-color:rgb(88, 25, 67);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    border: 10px;
    border-color: black;
    border-radius: 4px;
    border-style:solid;
    }
.ii{
display: inline-block;
width: 100%;
height: 700px;
}
.ma{
text-align: center;
font-size: larger;
font-style: initial;
color: pink;
}
#fn
{
    display: block;
}
#gr
{
    display: block;
}
#n6{
    background-color: black;
}
#fo{
    color: pink;
}
#text{
    color: pink;
    font-size: 20px;

}
#ok{
    display: block;
    margin-top:5px;
}
#yes{
    color: purple;
}