*{
    margin: 0;
    padding: 0;
    }
    .main{
        width:100%;
        background-image: linear-gradient(to top,rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        background-position: center; 
        background-size: cover;
        height: 180vh;
    }
    .navbar{
        width:1200px;
        height:75px;
        margin:auto;
    }
    .icon{
        width:200px;
        float:left;
        height:70px;
    }
    .logo{
        color:pink;
        font-size:35px;
        font-family:Arial;
        padding-left:20px;
        float:left;
        padding-top:10px;
    }
    .menu{
    width: 400px;
    float:left;
    height:70px;
    }
    ul{
        float:left;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    ul li{
        list-style:none;
        margin-left:62px;
        margin-top:27px;
        font-size: 14px;
    }
    ul li a{
        text-decoration:none;
        color: white;
        font-family:Arial;
        font-weight:bold;
        transition:0.4s ease-in-out;
    }
    ul li::after{
content: '';
width:0%;
height:2px;
background: rgb(199, 75, 143);
display:block;
margin: auto;
transition: 0.5s;
    }
    ul li:hover::after{
width:100%;
    }
    ul li a:hover{
        color: rgb(199, 75, 143);
    }
    .pages
    {
        display:none;
    }
ul li:hover .pages
    {
    display:block;
    position: absolute;
    margin-top:2px;
    margin-left:-62px;
    }
    ul li:hover .pages ul
    {
        display:block;
        margin:10px;
    }
    ul li:hover .pages ul li
{
    width:50px;
    padding:10px;
    border-bottom:1px dotted #fff;
    background:transparent;
    border-radius:0;
    text-align:left;
}
ul li:hover .pages ul li:last-child
{
    border-bottom:none;
}
ul li:hover .pages ul li a:hover
{
    color:rgb(199, 75, 143);
}

    .search{
        width:330px;
        float:left;
        margin-left:270px;
    }
    .srch{
        font-family: 'Times New Roman';
        width: 200px;
        height: 40px;
        background: transparent;
        border:1px solid rgb(199, 75, 143);
        margin-top:13px;
        color: rgb(255, 255, 255);
        border-right:none;
        font-size:20px;
        float:left;
        padding:10px;
        border-bottom-left-radius: 15px;
        border-top-left-radius:15px;
    }
    .btn{
        width:100px;
        height: 40px;
        background:rgb(199, 75, 143) ;
        border:2px solid rgb(199, 75, 143);
        margin-top:13px;
        color : rgb(0, 0, 0);
        font-size:15px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .btn:focus{
        outline:none;
    }
    .srch:focus{
        outline: none;
    }
    button{
        color:#fbfcfd;
        padding: 10px 25px;
        background: transparent;
        border: 1px solid #fff;
        border-radius: 20px;
        outline: none;
        cursor:pointer;
        transition: 0.7;
    }
button:hover{
    background-color:rgb(199, 75, 143);
    transform: scale(1.1);
}
#img{
width: 500px;
height: 500px;
display: inline;
}
#kk{
 width: 400px;
 height: 500px;
 display: inline;
}
#u6{
    text-align: left;
    margin-left: -3px;
}
#m20{
    margin-top: 10px;
}
.test{
    color: pink;
    text-align: initial;
    font-size: larger;
}
.inf{
   color: pink;
   font-size: larger;
}
.test2{
    font-size:larger;
    margin-top: -15px;
}
.paragraph{
color: palevioletred;
font-size: larger;
font-weight: bolder;
text-align: left;
display: block;


}
#ll{
    width: 400px;
    height: 500px;
    }
.second{
    font-family:'Times New Roman', Times, serif;
    font-size:larger;
    color: plum;
    margin-left: 40px;
    text-align:left;
    display:block;
    
}
#ss{
    width: 200px;
    margin-top: 170px;
    display: inline;
    
}
#r5{
    width:200px;
    height: 97px;
    margin-top:50px;
    display: inline;
}
.vv{
    width: 200px;
    margin-left: 0;
    margin-right: center;
    margin-top: 170px;
    margin-bottom: 0;
}
#oo{
    margin-top: 110px;
    margin-left: -390px;
}
h3{
    text-align:center;
    font-size: 40px;
    margin-top:2px;
    border: 10px;
    border-color: burlywood;
    border-style:double;
    background-color:pink;
}
ol h4{
    color:black;
    font-size:40px;
}
ol {
    border-width: 3%;
    border: 3px black double ;
    background-color: palevioletred;
}
ol li{
    color: white;
    font-size: medium;
}
#bb{
    background-color: black;
    
}
#dom{
    background-color: purple;
    color:black;
    display: inline;
    border: 1px solid #700;
    padding: 15px ;
    border-radius: 5px;
    transition: all 0.5s;
    margin-top: 20px;

}
#dom:hover{
    background-color: rgb(207, 20, 92);
    color:aquamarine;
    border: 1px solid #700;
    padding: 15px ;
    border-radius: 5px;
    transition: all 0.5;
}
#mm{
    color: pink;
}
#w3{
    text-align: center;
    color: black;
    font-size: larger;
    border: 4px;
    border-color: plum;
    border-style: solid;
    background-color: palevioletred;
}
#mar{
   margin-top: -100px;
}