*{
    margin: 0;
    padding: 0;
    }
    body
    {
        background-color: whitesmoke;
    }

    /* nav start */
    .navbar{
        /* width:1200px; */

        /* start of edit */
        display: flex;
        justify-content: center;
        width: 100%;
        /* end of edit */

        height:75px;
        margin:auto;
        background-color: #000;
    }
    .icon{
        width:200px;
        float:left;
        height:70px;
    }
    .logo{
        color: rgb(218, 184, 36);
        font-size:35px;
        font-family:Arial;
        padding-left:10px;
        float:left;
        padding-top:10px;
    }
    .menu{
    width: 400px;
    float:left;
    height:70px;
    }
    ul{
        margin-left: -50px;
        float:left;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    ul li{
        list-style:none;
        margin-left:62px;
        margin-top:27px;
        font-size: 14px;
    }
    ul li a{
        text-decoration:none;
        color: #fff;
        font-family:Arial;
        font-weight:bold;
        letter-spacing: 1px;
        transition:0.4s ease-in-out;
    }
    ul li::after{
content: '';
width:0%;
height:2px;
background: #fbff00;
display:block;
margin: auto;
transition: 0.5s;
    }
    ul li:hover::after{
width:100%;
    }
    ul li a:hover{
        color: #fbff00;
    }
    .pages
    {
        display:none;
    }
ul li:hover .pages
    {
    display:block;
    position:absolute;
    margin-top:-10px;
    margin-left:-45px;
    }
    ul li:hover .pages ul
    {
        display:block;
        margin:5px;
    }
    ul li:hover .pages ul li
{
    width:50px;
    padding:0px;
    border-bottom:1px dotted #fff;
    background:transparent;
    border-radius:0;
    text-align:left;
}
ul li:hover .pages ul li:last-child
{
    border-bottom:none;
}
ul li:hover .pages ul li a:hover
{
    color:#fbff00;
}

    /* .search{
        width:330px;
        float:left;
        margin-left:270px;
    }
    .srch{
        font-family: 'Times New Roman';
        width: 200px;
        height: 40px;
        background: transparent;
        border:1px solid #fbff00;
        margin-top:13px;
        color: rgb(255, 255, 255);
        border-right:none;
        font-size:20px;
        float:left;
        padding:10px;
        border-bottom-left-radius: 15px;
        border-top-left-radius:15px;
    }
    .btn{
        width:100px;
        height: 40px;
        background: #fbff00;
        border:2px solid #fbff00;
        margin-top:13px;
        color : rgb(0, 0, 0);
        font-size:15px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .btn:focus{
        outline:none;
    }
    .srch:focus{
        outline: none;
    }
    button{
        color:#ffffff;
        font-size:medium;
        padding: 10px 25px;
        background: transparent;
        background-color: #000000;
        border: 1px solid #fbfcfd;
        border-radius: 1vw;
        outline: none;
        cursor:pointer;
        transition: 0.4s ease;
    }
button:hover{
    background-color: #fbff00;
    color: #000000;
    transform: scale(1.1);
}

*/

/* nav end */

.hS1{
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hTitleCont{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../media/hbg2.png);
    background-position: 50% 50%;
    background-size: cover;
}


.hTitle

{
    font-size: 10vh;
    text-align: center;
    color: aliceblue;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: lighter;
    
}


.hTitleBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    margin-top: 2vh;
    width: auto;
    padding: 2vh;
    height: 5vh;
    color: aliceblue;
    border-radius: 1vh;
    background-color: rgb(85, 59, 17);
    transition: 1s;
}

.hTitleBtn:hover{
    transform: scale(1.1);
}

#SnapNoStyle{
    text-decoration: none;
}

.catCont{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #000;
}

.catRow1{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.catRow1 a{
    text-decoration: none;
    color: black !important;
}

.catTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(218, 184, 36);
}

.catTitle h2{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 8vh;
    text-transform: uppercase;
}

.catCard{
    width: 15vw;
    height: 35vh;
    border-radius: 2vh;
    background-color: rgb(218, 184, 36);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.catCard:hover{
    transform: scale(1.1);
    background-color: #98a3a5;
}

.caticon{
    width: 50%;
    height: auto;
}

#catKpopText{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3vw;
    opacity: 0;
    transition: 1s;
}

.catCard:hover #catKpopText{
    padding-top: 3vh;
    opacity: 1;
}

#catCsText{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3vw;
    opacity: 0;
    transition: 1s;
}

.catCard:hover #catCsText{
    padding-top: 3vh;
    opacity: 1;
}

#catMathText{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3vw;
    opacity: 0;
    transition: 1s;
}

.catCard:hover #catMathText{
    padding-top: 3vh;
    opacity: 1;
}

#catSpText{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3vw;
    opacity: 0;
    transition: 1s;
}

.catCard:hover #catSpText{
    padding-top: 3vh;
    opacity: 1;
}

#catEntText{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2vw;
    opacity: 0;
    transition: 1s;
}

.catCard:hover #catEntText{
    padding-top: 3vh;
    opacity: 1;
}

#catArtText{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3vw;
    opacity: 0;
    transition: 1s;
}

.catCard:hover #catArtText{
    padding-top: 3vh;
    opacity: 1;
}

#catTechText{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3vw;
    opacity: 0;
    transition: 1s;
}

.catCard:hover #catTechText{
    padding-top: 3vh;
    opacity: 1;
}

#catMedText{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3vw;
    opacity: 0;
    transition: 1s;
}

.catCard:hover #catMedText{
    padding-top: 3vh;
    opacity: 1;
}

#catCookText{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3vw;
    opacity: 0;
    transition: 1s;
}

.catCard:hover #catCookText{
    padding-top: 3vh;
    opacity: 1;
}

  